<!DOCTYPE html>
<html>
  <head>
    <title>Date-uhhhh...</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <h1>Team NoBrim </h1>
    <br>
    <h1>Joseph Yusufov, Ahmed Sultan, Vishwaa Sofat</h1>
    <script src="./static/PieChart.js"></script>


    <!-- Add 2 buttons -->
    <button id="render" >Render</button> <br/>
    <span>Year: </span><span id="year"></span>
    <button id="last" >Last</button>
    <button id="next" >Next</button>

    <!-- <span>District: </span><span id="district"></span> -->

    
    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>


  </body>
</html>
